<div style="width: 600px;">
  <h1>Stupid coaching</h1>

  <div>
    <h2><%= @question %></h2>
    <p>- You</p>
  </div>

  <div style="background-color: yellow;"">
    <h2><%= @answer %></h2>
    <p>-  Your coach</p>
  </div>
</div>

<%= link_to "Ask a new question", ask_path %>
